.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.no-select{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.info {
  color: #5BC0DE;
}

.warning {
  color: #F0AD4E;
}

.error {
  color: #D9534F;
}

.success {
  color: #5CB85C;
}

.info-bg {
  background-color: #5BC0DE;
}

.warning-bg {
  background-color: #F0AD4E;
}

.error-bg {
  background-color: #D9534F;
}

.success-bg {
  background-color: #5CB85C;
}
